:root {
  --bg-color: #faf9f9;
  --accent-color: #89b0ae;
  --text-color: #555b6e;
  --soft-accent: #bee3db;
  --hover: #ffd6ba;

  /* Fonts */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  scroll-padding-top: 6rem;
}

/* Navbar */

.navbar {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
  color: var(--bg-color);
}
