:root {
  --bg-color: #faf9f9;
  --accent-color: #89b0ae;
  --text-color: #555b6e;
  --soft-accent: #bee3db;
  --hover: #ffd6ba;

  /* Fonts */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  scroll-padding-top: 6rem;
}

/* Navbar */

.navbar {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
  color: var(--bg-color);
}

/* Hero section */
#hero,
#about {
  padding: 6rem 3rem 1rem;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
  animation: fadeIn 1.2s ease-in-out;
}

#hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#hero .mid-quote {
  font-size: 1.25rem;
}

/* My Portrait */

#hero .portrait {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin: 3rem auto 0.01rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#hero .portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

#hero .portrait img:hover {
  transform: scale(1.2);
}

#about h2,
#projects h2 {
  font-size: 1.8rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  font-weight: 600;
}

#about p {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  font-family: var(--secondary-font);
}

/* Projects Section */

#projects {
  background-color: var(--soft-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 3rem 4rem;
  text-align: center;
  min-height: 80vh;
  animation: fadeIn 1.2s ease-in-out;
}

#projects h2 {
  color: var(--text-color);
}

#projects .section-subtext {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  margin-bottom: 3rem;
  color: var(--text-color);
}

#projects .project-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1000px;
  margin: auto;
}

#projects .project-container a {
  text-decoration: none;
}

#projects .project-container .project-card {
  background-color: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects .project-container .project-card:hover {
  transform: scale(1.05);
  color: var(--accent-color);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.15);
}

#projects .project-container .project-card img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: top;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#projects .project-container .project-card h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

#projects .project-container .project-card p {
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 12px;
}

#projects .project-container .project-card .tech {
  font-size: 0.85rem;
  font-style: italic;
  margin-bottom: 12px;
}

/* Skills */

#skills {
  background-color: var(--bg-color);
  padding: 6rem 3rem 4rem;
  text-align: center;
  min-height: 80vh;
  animation: fadeIn 1.2s ease-in-out;
}

#skills .handwritten {
  font-family: "Handlee", cursive;
}

#skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 50px 0;
}

#skills .skills-container .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  color: var(--accent-color);
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

#skills .skills-container .skill i {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: bold;
}

#skills .skills-container .skill:hover {
  transform: scale(1.3);
  color: var(--hover);
}

/* Contact me */

#contact {
  background-color: var(--soft-accent);
  padding: 6rem 3rem 4rem;
  text-align: center;
  min-height: 80vh;
  animation: fadeIn 1.2s ease-in-out;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
